
<h1><%= @article.title %></h1>
<% if @article.image.present? %>
  <%= image_tag @article.image.url, class: "article-image" %>
<% else %>
  <!-- Default article image or placeholder image -->
<% end %>

<p><%= @article.content %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li> <%= link_to "Back to articles", articles_path %> </li>
</ul>

<!-- Display number of comments on the article -->
<p><%= pluralize(@article.comments.count, "comment") %> on this article</p>

<!-- Display number of comments done by the current user on this article -->
<p><%= pluralize(@article.comments.where(user: current_user).count, "comment") %> by you</p>
<h2>Comments</h2>
<div class="comment">
  <% if current_user.profile_pic.present? %>
    <%= image_tag comment_author.profile_pic.url, class: "avatar-icon" %>
  <% else %>
    <%# <%= image_tag "default_avatar.png", class: "avatar-icon" % > %>
  <% end %>
<%@comments.each do |comment| %>
<p><strong><%= comment.user.username %></strong>: <%= comment.content %></p>

 
<% end %>
<h2>Add a comment:</h2>
<%= render 'comments/new' , article: @article%>