<div id="<%= dom_id frnd %>"  class="container-fluid" >
  <p>
    <strong>First name:</strong>
    <%= frnd.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= frnd.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= frnd.email %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= frnd.phone_no %>
  </p>

  <p>
    <strong>City:</strong>
    <%= frnd.city %>
  </p>

</div>
